# -------------------
# Python
# -------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite
*.db

# -------------------
# Virtual env
# -------------------
venv/
.env/

# -------------------
# IDE
# -------------------
.idea/
.vscode/

# -------------------
# OS
# -------------------
.DS_Store
Thumbs.db

# -------------------
# Runtime outputs
# -------------------
output/
alerts/

# -------------------
# Kafka local files
# -------------------
*.log
*.tmp